@font-face {
    font-family: 'maxaio';
    src: url('jane.ttf');
}
@font-face {
    font-family: 'jane';
    src: url('mx.ttf');
}
.sidebuttons{
    -fx-background-color: rgba(47,54,62,1);
    -fx-font-family:jane;
    -fx-font-size: 18px;
}
.sidebuttons:default:hover:pressed,
.sidebuttons:focused {
    -fx-background-color: linear-gradient(to right, rgb(47, 54, 62) 0%, rgba(42,70,73,1) 91%, rgb(17, 255, 0) 100%);
    -fx-text-fill: #ffff;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.1 ), 5, 0, 3, 0 );
    -fx-font-size: 20px;
    -fx-font-family:jane;
    -fx-border-radius: 0em 0.3em;
    -fx-border-color: linear-gradient(to right, rgba(47, 54, 62, 0) 10%, rgba(17, 255, 0, 0.36) 100%);
}
.sidebuttons:hover{
    -fx-background-color: linear-gradient(to right, rgba(47,54,62,1) 0%,  rgba(42,70,73,1) 100%);
    -fx-transaction-delay:0.1s;
    -fx-font-family:jane;
    -fx-font-size: 18px;
}

.sidebuttons:hover:focused{
    -fx-font-family:jane;
    -fx-font-size: 20px;
    -fx-background-color: linear-gradient(to right, rgba(47,54,62,1) 0%, rgba(42,70,73,1) 91%, rgba(47, 255, 217,1) 100%);
}
.logindetails{
    -fx-background-color: rgb(23,32,42);
    -fx-border-color:rgb(200, 60, 255);
    -fx-border-width:0px 0px 1.5px 0px;
    -fx-text-fill:rgb(175, 175, 175);
    -fx-border-radius: 30px;
    -fx-font-size: 15px;
}
.logindetails:default:hover:pressed, .logindetails:focused {
    -fx-border-color:rgb(15, 187, 38);
}
.logindetails1{
    -fx-background-color:#2F363E;
    -fx-border-color:rgb(200, 60, 255);
    -fx-border-width:0px 0px 1.5px 0px;
    -fx-text-fill:rgb(175, 175, 175);
    -fx-border-radius: 30px;
    -fx-font-size: 15px;
}
.logindetails1:default:hover:pressed, .logindetails1:focused {
    -fx-border-color:rgb(15, 187, 38);
}
.btnlogin{
    -fx-background-color:rgb(0, 131, 17);
    -fx-background-radius: 15px; 
    -fx-effect: dropshadow( gaussian , rgba(0, 0, 0, 0.295) , 10,0.5,1,2 ); 
}
.btnlogin:default:hover:pressed,
.btnlogin:focused {
    -fx-background-color:rgb(0, 131, 17);
    -fx-effect: dropshadow( gaussian , rgba(92, 92, 92, 0.733) , 10,0,0,1 ); 
}
.btnlogin:hover:focused{
    -fx-background-color:rgb(0, 131, 17);
    -fx-effect: dropshadow( gaussian , rgba(92, 92, 92, 0.733) , 10,0,0,1 ); 
}
.btncolse{
    -fx-background-color:rgba(0, 131, 17,0);
    -fx-background-radius: 15px; 
}
.btncolse:hover:focused{
    -fx-background-color:rgba(248, 0, 0, 0.733);
}
.topselectlabel{
    -fx-font-family:jane;
}
.admhomeclose{
    -fx-background-radius: 15px;
    -fx-border-color:rgb(0, 131, 17);
    -fx-border-radius: 10px;
    -fx-font-size: 25px;
    -fx-padding:13px 20px 8px 15px;
    -fx-border-width: 0px 0px 2px 2px;
    -fx-background-color: #24292D;
}
.admhomeclose:default:hover:pressed,
.admhomeclose:focused {
    -fx-border-color:rgb(0, 131, 17);
    -fx-background-color: rgba(248, 0, 0, 0.17);
}
.admhomeclose:hover:focused {
    -fx-border-color: rgb(248, 0, 0);
    -fx-background-color: rgba(248, 0, 0, 0.17);
}
.admhomeclose:hover {
    -fx-border-color: rgb(248, 0, 0);
    -fx-background-color: rgba(248, 0, 0, 0.17);
}
.lefteditsave{
    -fx-border-width: 1px;
    -fx-border-color: rgba(141, 141, 141, 0.35);
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-padding: -1px 4px;
    -fx-background-color:#2F363E;
}
.lefteditsave:hover {
    -fx-background-color: #474e56;
}
.workerlist{
    -fx-background-color: rgb(36,41,45);
}
.workerlistcol{
    -fx-font-size: 15px;
    -fx-background-color: rgb(36,41,45);
    -fx-font-family:jane;
    -fx-text-fill: rgba(255, 255, 255, 0.81);
    -fx-background-color: rgb(47,54,62);
}
.workerlist .workerlistcol .label{
    -fx-text-fill: rgba(255, 255, 255, 0.68);
    -fx-border-color: rgba(122, 122, 122, 0.54);
    -fx-border-radius: 1px;
    -fx-border-width: 0px 1px 1px 0px;
    -fx-border-style: dotted;
}
.workerlist .table-row-cell {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 1);
    -fx-background-color: rgb(36,41,45);
    -fx-font-family:jane;
}
.workerlist .table-cell {
    -fx-alignment: CENTER;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: rgba(255, 255, 255, 0.27);
    -fx-border-style: dotted;
}
.workerlist .table-row-cell:hover:pressed,
.workerlist .table-row-cell:focused{
    -fx-border-color:  linear-gradient(to right, rgba(17, 255, 0, 0.59) 0%, rgba(42, 70, 73, 0.24) 50%, rgb(17, 255, 0, 0.59) 100%);
    -fx-border-width: 1px 0px 1px 0px;
}
